
h1,
h2,
h3,
h4,
p {
    text-align: center;
}
ul{
    text-align: center;
    font-weight: bold;
}
ul#temperature li{
    display: inline;
  
    
}

li{
    list-style: none;
   
}

span {
    font-size: 20px;
}

form {
    margin-left: 21px;
}

input {

    width: 46%;
    border: solid 2px white;
    border-radius: 5px;

}

input:hover {
    border-radius: 5px;
    border: solid 2px black;
    box-shadow: 5px 5px 10px aqua;
}

button {
    border: solid 2px white;
    border-radius: 5px;
}

button:hover {

    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px aqua;
}

footer {
    text-align: center;
    font-weight: bold;
}

#description{
    text-transform:capitalize ;
}
#humidity{
    padding-left: 10px;
}
 .anchor-style{
   
           
            text-decoration: none;
          

} 

.active{

    color: rgb(33,33,33);
    cursor: default;
}

.active:hover{
    
    text-decoration: none;
}
.current-city {
    border-radius: 5px;

}

.search-container {

    display: block;
    border: solid 2px white;
    width: 50%;
    padding: 30px;
    margin: 30px auto;
    border-radius: 5px;
    background-image: url(../images/bakkk.jpg);
    font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}


.current-temp {
    border-radius: 5px;
    display: block;
    border: solid 2px white;
    margin: 30px;
    padding: 30px;
    text-align: right;
    background-color: rgb(209, 206, 206, 0.6);
}

.current-temp:hover {

    border-radius: 5px;
    border: solid 2px black;
    box-shadow: 5px 5px 10px aqua;

}

.next-temp {
    border-radius: 5px;
    display: block;
    padding: 10px;
    margin: 10px;
    text-align: left
}

.thu {
    border-radius: 5px;
    border: solid 2px white;
    background-color: rgb(209, 206, 206, 0.6);
}

.thu:hover {
    border-radius: 5px;
    border: solid 2px black;
    box-shadow: 5px 5px 10px aqua;
}

.fri {
    border-radius: 5px;
    border: solid 2px white;
    background-color: rgb(209, 206, 206, 0.6);
}

.fri:hover {
    border-radius: 5px;
    border: solid 2px black;
    box-shadow: 5px 5px 10px aqua;
}


.sat {
    border-radius: 5px;
    border: solid 2px white;
    background-color: rgb(209, 206, 206, 0.6);
}

.sat:hover {
    border-radius: 5px;
    border: solid 2px black;
    box-shadow: 5px 5px 10px aqua;
}


.sun {
    border-radius: 5px;
    border: solid 2px white;
    background-color: rgb(209, 206, 206, 0.6);
}

.sun:hover {
    border-radius: 5px;
    border: solid 2px black;
    box-shadow: 5px 5px 10px aqua;
}


.mon {
    border-radius: 5px;
    border: solid 2px white;
    background-color: rgb(209, 206, 206, 0.6);
}

.mon:hover {
    border-radius: 5px;
    border: solid 2px black;
    box-shadow: 5px 5px 10px aqua;
}