
body {

    background-image: url(../images/bakkk.jpg);
    background-repeat: no-repeat;

}

h1 {
    color: #2596be;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #2596be;
    font-size: 16px;
    line-height: 19px;
}

li:first-letter {
    text-transform: capitalize;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;


}

.container {
    margin-top: 95px;
}

input:hover {
    box-shadow: 5px 5px 10px aqua;
}





/* .weather-app {
  padding: 20px;
  border: 1px solid black;
  border-radius: 7px;
  background: linear-gradient(-20deg, #ffcab0 0%, rgb(251, 252, 219) 100%);
} */


.weather-app {
    max-width: 600px;
    margin: 0 Auto;
    padding: 20px;
    background-color: rgb(209, 206, 206, 0.4);
    border: 1px solid rgb(209, 206, 206, 0.6);
    border-radius: 5px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: #2596be;
    font-size: 58px;
    line-height: 1;
    font-weight: 300px;
}

weather-temperature.units {
    position: relative;
    font-size: 16px;
    top: -34px;

}

.weather-temperature .active {
    color: black;
    cursor: default;
}

.weather-temperature active:hover {
    text-decoration: none;
}

.units {
    vertical-align: top;
}

.units a {
    text-decoration: none;
}

.weather.forecast {
    margin-top: 20px;
    text-align: center;
    color: black;

}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;

}

.weather.weather-forecast-temperature-min {
    opacity: 0.5;
}

.weather-forecast-temperature {
    font-size: 13px;
}

.weather-forecast-temperature-min {
    opacity: 0.6;
}

#searching {
    background-color: #2596be;
    border: solid 1px #2596be;
    color: black;

}




















